.carousel-main {
  padding: 2rem 9rem 2rem 9rem;
  @media (max-width: "1500px") {
    padding: 2rem;
  }
  font-family: "Roboto", sans-serif;
}
.carousel-title {
  color: white;
  letter-spacing: 0.1rem;
  padding: 0 0 2.4rem 0.4rem;
}

// .card-wrapper {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
// }
.card {
  text-align: left;
  color: white;
  background-color: #282c34;
  .card-img {
    min-height: 240px;
  }
  :hover {
    .card {
      filter: brightness(120%);
      cursor: pointer;
    }
  }
  text-decoration: none;
  &:focus,
  &:hover,
  &:visited,
  &:link,
  &:active {
    text-decoration: none;
  }
}
#card-grid {
  display: grid;
  grid-template-columns: 35% 65%;
}
#card-container {
  max-width: 390px;
}

.card-body {
  font-weight: 300;
}

.card-title {
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  display: grid;
  grid-template-columns: 14% 87%;
  grid-column-gap: 7px;
  //   .circularprogressbar {
  // background: rgb(24, 201, 39);
  // background: rgb(255, 251, 0);
  //   }
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1rem;
  font-size: 0.8rem;
}
#footer-container {
  border-top: 2px solid;
}
.card-footer {
  display: flex;
  justify-content: flex-start;
  border-top: none;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(152, 57, 216, 0.75),
    rgba(0, 0, 0, 0)
  );
}
